$blue: #3f51b5;
$light-grey: #c8c8ce;

.light-grey {
    color:$light-grey;
}

.color-black {
    color: black !important;
}

.color-secondary {
    color: $blue !important;
}

.total-members {
    font-size: large;
}

.span {
    color: $blue;
    text-decoration: underline;
}

.main-container {
    padding: 1em;
    max-height: calc(100dvh - 80px);
    overflow-y: auto;

    .charts-container {
        .chart-container {
            padding: 10px;
            flex-direction: column !important;
            gap: .5em !important;
        }
    }

    .members-total-no {
        background-color: $blue;
        border-radius: 50%;
        color: white;
        height: 30px;
        width: 30px;
    }

    .member-img {
        background-size: cover;
        height: 36px;
        width: 39px;
        border-radius: 50%;

        img {
            height: 25px;
        }
    }

    .male-bg-img {
        background-image: url('../../../assets/images/male-profile.png');
    }

    .female-bg-img {
        background-image: url('../../../assets/images/female-profile.png');
    }

    .transactions-mat-card {
        height: 253px;
        flex-direction: column !important;
        .status {
            width: 63px;
            height: 30px;
            border-radius: 6px;
            background-color: $blue;
            color: white;
            // border: 1px solid black;
        }

        .status-inactive {
            background-color: rgba(255, 99, 132, 0.6) !important;
        }

        .table {
            max-width: 100%;
            overflow-x: auto;
        }
    }
}

.outer-container {
    .welcom-txt {
        font-size: x-large;
        font-weight: 500;
    }

    .members-overview-container {
        width: 342px;
    }
}

.plans-controls {
    position: relative;
    // height: 92px;

    .plans-error-msg {
        position: absolute;
        bottom: 0;
        bottom: 17px;
        color: red;
    }
}

mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-month-plan {
    height: 0;
    width: 0;
    overflow: visible;
    font-size: large;
    color: black;
    margin-top: -3px;
}

.edit-plan {
    position: relative;

    input {
        padding: 5px;
        width: 68px;

        &:focus {
            outline: none;
        }
    }
}

.total-prc {
    font-size: larger;
}

.mdc-card {
    flex-direction: row;
    gap: 1.5em;
}

.filter-members {
    height: 39px;
    width: 120px;
    gap: 3px;
    border-radius: 7px;
    background-color: $blue;
    color: white;

    p {
        font-size: larger;
    }
}

.people-icon {
    height: 48px;
    width: 48px;
    font-size: 36px;
    margin-left: .3em;
}

.padding-10px {
    padding: 1em;
}

.padding-5px {
    padding: 5px;
}

.m-l-1em {
    margin-left: 1em;
}

@media screen and (max-width: 960px) {

    .members-container {
        flex-direction: column;
    }
    .total-members {
        width: 121px;
        text-align: start;
        margin-left: .5em;
    }

    .mdc-card {
        gap: 0;
    }

    .transactions-mat-card {
        height: 295px !important;
    }

    .outer-container, .charts-container {
        flex-direction: column;
    }

    .filtering-container {
        gap: 0em;
    }
}