<div class="flex column">
    <app-toolbar [component]="selectedNav"></app-toolbar>
    <div class="main-container flex column gap-2em">
        <div class="flex outer-container gap-2em">
            <div class="flex column gap-05em">
                <p class="no-margin color-secondary welcom-txt">Welcome back!</p>
                <mat-card class="flex padding-5px a-center">
                    <div class="flex column">
                        <h2 class="total-members no-margin pointer">Total Members</h2>
                        <mat-icon class="people-icon">people</mat-icon>
                    </div>
                    <div class="flex column space-between">
                        <div class="members-total-no flex center-center">
                            <h2 class="no-margin">{{totalMembers.length}}</h2>
                        </div>
                        <small (click)="seeAllMembers()" class="span pointer">view all</small>
                    </div>
                </mat-card>
                <div class="flex a-center full-width">
                    <mat-card class="flex column padding-5px full-width ">
                        <div class="flex gap-2em a-center filtering-container">
                            <div class="flex column">
                                <h2 class="total-members no-margin pointer">New Members</h2>

                                <mat-icon class="people-icon">people</mat-icon>
                            </div>
                            <div class="flex gap-1em">
                                <div class="flex column">
                                    <div class="members-total-no flex center-center">
                                        <h2 class="no-margin">{{newMembers.length}}</h2>
                                    </div>
                                    <small (click)="showFilteredNewMembers()" class="span pointer">view all</small>
                                </div>
                                <div title="Recent month(s)" class="flex gap-1em a-center pointer"
                                    [matMenuTriggerFor]="menu">
                                    <div class="flex a-center filter-members">
                                        <mat-icon>today</mat-icon>
                                        <p class="no-margin">{{selctedNewMembersOptions}}</p>
                                    </div>
                                </div>
                            </div>
                            <mat-menu class="absolute" #menu="matMenu">
                                <button mat-menu-item (click)="changeNewMemberFilterOption(indx)"
                                    *ngFor="let newMemberFilterOption of newMembersOptions; let indx = index">{{newMemberFilterOption
                                    |
                                    titlecase}}</button>
                            </mat-menu>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="flex column center-center">
                <h2 class="no-margin">Your Payment Plan</h2>
                <hr class="full-width">
                <div class="flex column gap-05em">
                    <mat-card *ngFor="let plan of paymentPlans; let indx as index"
                        class="padding-10px full-width a-end flex space-between">
                        <div class="flex column gap-05em">
                            <h2 class="no-margin">{{plan.timeline | titlecase}}</h2>
                            <small>R {{plan.perMonth}} per month</small>
                        </div>
                        <div class="flex column gap-05em a-end">
                            <p class="no-margin">Total Price</p>
                            <h2 class="no-margin total-prc">R {{plan.total}}</h2>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="charts-container flex gap-2em">
            <mat-card class="flex column gap-05em chart-container">
                <h2 class="no-margin text-center">Yearly payments</h2>
                <app-bar [paymentsPerMonth]="paymentsPerMonth"></app-bar>
            </mat-card>
            <mat-card class="chart-container flex a-center">
                <h2 class="no-margin text-center">Business summary</h2>
                <div [formGroup]="paymentPlansFormGroup" class="flex column">
                    <app-pie [totalMembersPayments]="totalMembersPayments"></app-pie>
                    <div class="plans-controls flex column gap-05em">
                        <div class="flex gap-05em">
                            <div class="flex column edit-plan">
                                <div class="flex gap-1em a-center">
                                    <label for="month">Month</label>
                                    <mat-icon [class]="isEddingPlans" title="Edit" class="pointer edit-month-plan"
                                        (click)="editPlans()">edit</mat-icon>
                                </div>
                                <input type="text" [readonly]="!isEddingPlans" formControlName="month" id="month"
                                    placeholder="R">
                                <!-- <small class="suffix">p/m</small> -->
                            </div>
                            <div class="flex column edit-plan">
                                <label for="sixMonths">6 Month</label>
                                <input type="text" readonly formControlName="sixMonths" id="sixMonths" placeholder="R">
                                <!-- <small class="suffix">p/m</small> -->
                            </div>
                            <div class="flex column edit-plan">
                                <label for="twelveMonths">12 Month</label>
                                <input type="text" readonly formControlName="twelveMonths" id="twelveMonths"
                                    placeholder="R">
                                <!-- <small class="suffix">p/m</small> -->
                            </div>
                            <small *ngIf="paymentPlans[0].perMonth === 0" class="plans-error-msg">You need to add
                                monthly
                                <strong>payment</strong></small>
                        </div>
                        <div class="flex j-end a-center gap-05em">
                            <button *ngIf="isEddingPlans" (click)="savePlans()" mat-raised-button color="primary">
                                <mat-icon class="pointer">lock_open</mat-icon>Save
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

</div>