$blue: #3f51b5;

.color-black {
    color: black !important;
}

.color-secondary {
    color: $blue !important;
}

.total-members {
    font-size: large;
}

.span {
    color: $blue;
    text-decoration: underline;
}

.main-container {
    padding: 1em;
    .charts-container {
        .chart-container {
            padding: 10px;
            flex-direction: column !important;
            gap: .5em !important;
        }
    }

}

.outer-container {
    .welcom-txt {
        font-size: x-large;
        font-weight: 500;
    }
}

.plans-controls {
    position: relative;
    height: 92px;

    .plans-error-msg {
        position: absolute;
        bottom: 0;
        bottom: 17px;
        color: red;
    }
}

mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-month-plan {
    height: 0;
    width: 0;
    overflow: visible;
    font-size: large;
    color: black;
    margin-top: -3px;
}

.edit-plan {
    position: relative;

    input {
        padding: 5px;
        width: 68px;

        &:focus {
            outline: none;
        }
    }
}

.total-prc {
    font-size: larger;
}

.mdc-card {
    flex-direction: row;
    gap: 1.5em;
}

.filter-members {
    height: 39px;
    width: 120px;
    gap: 3px;
    border-radius: 7px;
    background-color: $blue;
    color: white;

    p {
        font-size: larger;
    }
}

.people-icon {
    height: 48px;
    width: 48px;
    font-size: 36px;
    margin-left: .3em;
}

.padding-10px {
    padding: 1em;
}

.padding-5px {
    padding: 5px;
}

.m-l-1em {
    margin-left: 1em;
}

@media screen and (max-width: 960px) {
    .total-members {
        width: 121px;
        text-align: start;
        margin-left: .5em;
    }

    .mdc-card {
        gap: 0;
    }

    .outer-container {
        flex-direction: column;
    }

    .filtering-container {
        gap: 0em;
    }
}