<div class="main-container flex column padding-1em gap-05em relative">
    <form [formGroup]="paymentFormGroup" class="payment-tab flex column gap-05em">
        <div class="flex column gap-1em">
            <div class="title-container flex center-center">
                <p class="no-margin">Payment Form</p>
            </div>
            <!-- Payment Method -->
            <div class="flex column form-field relative">
                <input type="text" readonly [matMenuTriggerFor]="menu" formControlName="paymentType"
                    placeholder="Gender">
                <mat-icon class="absolute">arrow_drop_down</mat-icon>
                <mat-menu #menu="matMenu">
                    <div class="menu-list flex column gap-05em">
                        <p (click)="selectPaymentMethod(method)" *ngFor="let method of paymentMethods"
                            class="no-margin pointer">
                            {{method}}</p>
                    </div>
                </mat-menu>
            </div>
        </div>
        <div class="flex gap-05em">
            <p class="no-margin">Payment month:</p>
            <div title="Change payment month" class="flex gap-1em a-center pointer" [matMenuTriggerFor]="calendarMenu">
                <div class="flex a-center filter-members">
                    <p class="no-margin span"><strong>{{selectedPaymentMonth}}</strong></p>
                    <mat-icon>calendar_month</mat-icon>
                </div>
            </div>
            <mat-menu class="absolute" #calendarMenu="matMenu">
                <button [class.color-selected-month]="this.selectedPaymentMonth === month" mat-menu-item (click)="changePaymentMonth(month)"
                    *ngFor="let month of annualMonths; let indx = index">{{month}}</button>
            </mat-menu>
        </div>
        <div class="flex email-container column">
            <mat-form-field appearance="fill" floatLabel="always">
                <input formControlName="amount" matInput type="text" placeholder="200"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')">
                <span matTextPrefix>R&nbsp;</span>
                <mat-error *ngIf="paymentFormGroup.get('amount')?.hasError('required')">
                    Amount is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex a-center j-end gap-05em">
            <div (click)="close()" class="btn flex center-center pointer">
                <p class="no-margin">Close</p>
            </div>
            <div (click)="submit()" class="btn flex center-center pointer">
                <p class="no-margin">Process</p>
            </div>
        </div>
    </form>
</div>