$dark-light-white: #f3f3f3;
$blue: #6672e5;

.color-selected-month {
    background-color: #F5F5F5 !important;
}

.padding-1em {
    padding: 1em;
}

.span {
    text-decoration: underline;
}

.main-container {

    form {

        .title-container {
            background-color: $blue !important;
            color: white !important;
            width: 100% !important;
            margin-bottom: .5em
        }

        .form-field {
            height: unset !important;
            width: 177px !important;
        }

        .email-container {
            position: relative;

            .edit-payment-amt {
                position: absolute;
                top: 23px;
                right: 63px;
            }
        }

        .btn,
        .title-container {
            width: 88px;
            height: 35px;
            background-color: $dark-light-white;
            border-radius: 5px;
            font-weight: 400;
            border: 1px solid #ddd;

            &:nth-child(2) {
                background-color: $blue;
                color: white;
            }
        }
    }
}