$color-white: white;
$logo-red: #da695a;
$app-secondary: #3f51b5;

mat-sidenav {
    width: 254px;
    background-color: ghostwhite;
}

mat-toolbar {
    background-color: black;
    color: white;
}

.sideNav {
    .p {
        font-size: larger;

        &:hover {
            text-decoration: underline solid $app-secondary;
        }

        &:focus {
            outline: none;
        }
    }

    .role {
        // color: $app-secondary;
        font-size: x-large;
    }

    .logo {
        width: 176px;
    }

    .logo-title {
        width: 244px;
    }

    .logout {
        bottom: 0;
    }
}

.selected-menu {
    text-decoration: underline solid $app-secondary;
}

.hr {
    width: 90%;
}

.m-t-2em {
    margin-top: 2em;
}