$light-blue: #F0F2F9;
$blue: #6672e5;

mat-sidenav {
    width: 254px;
    background-color: ghostwhite;
}

mat-toolbar {
    background-color: black;
    color: white;
}

.sideNav {
    padding: 1em;
    box-sizing: border-box;

    .business-name-container {
        gap: .3em;

        .triple-icon-img {
            height: 59px;
        }
    }

    .menu-item {
        padding: .2em .5em;

        img {
            height: 21px;
        }

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: $light-blue;
            color: $blue;
        }
    }
}

.hr {
    width: 90%;
}