$bg-color: blue;
$app-secondary: #3f51b5;

// Months colors
$jan: rgb(56 55 255 / 60%);
$feb: rgb(183 123 165 / 60%);
$mar: rgb(68 69 59 / 60%);
$apr: rgba(75, 192, 192, 0.6);
$may: rgba(153, 102, 255, 0.6);
$june: rgba(255, 159, 64, 0.6);
$july: rgba(255, 99, 132, 0.6);
$aug: rgba(54, 162, 235, 0.6);
$sept: rgba(255, 206, 86, 0.6);
$oct: rgb(29 34 53 / 60%);
$nov: rgb(169 255 162 / 60%);
$dec: rgb(255 55 66 / 60%);

.color-red {
    color: red;
}

.light-grey {
    color: #c8c8ce;
}

.bg-jan {
    background-color: $jan;
}

.bg-feb {
    background-color: $feb;
}

.bg-mar {
    background-color: $mar;
}

.bg-apr {
    background-color: $apr;
}

.bg-may {
    background-color: $may;
}

.bg-june {
    background-color: $june;
}

.bg-july {
    background-color: $july;
}

.bg-aug {
    background-color: $aug;
}

.bg-sept {
    background-color: $sept;
}

.bg-oct {
    background-color: $oct;
}

.bg-nov {
    background-color: $nov;
}

.bg-dec {
    background-color: $dec;
}

.main-container {
    padding: 1em;
    box-sizing: border-box;
    height: calc(100dvh - 64px);

    .search-container {
        position: relative !important;
        margin-left: 1em;
        width: 222px;

        .search {
            width: 200px;
            padding: 10px;
            border-radius: 7px;
            border: 1px solid black;

            &:focus {
                outline: none;
            }
        }

        .search-icon {
            top: 4px;
            right: 12px;
            font-size: 33px;
        }
    }

    .key-container {
        height: 34px;
        width: 68px;

        small {
            font-size: 12px;
            color: white;
        }
    }

    .payment-profile-container {
        // max-height: 368px;
        max-width: 100%;
        overflow-y: auto;
    }

    .member-img {
        background-size: cover;
        height: 39px;
        width: 39px;
        border-radius: 50%;

        img {
            height: 25px;
        }
    }

    // .male-bg-img {
    //     background-image: url('../../../assets/images/male-profile.png');
    // }

    // .female-bg-img {
    //     background-image: url('../../../assets/images/female-profile.png');
    // }

    .payment-profile {
        width: 200px;
        height: 285px;
        border-radius: 18px;
        padding: 5px;

        .member-name {
            font-size: large;
        }

        .top {
            padding: 1em 0em;
            height: 129px;
            background-color: $app-secondary;
            position: relative;
            border-top-right-radius: 18px;
            border-top-left-radius: 18px;

            .img-container {
                background-color: white;
                padding: 11px;
                border-radius: 50%;
            }

            .payments-title {
                position: absolute;
                font-size: 13px;
                bottom: 0;
                right: 2px;
                color: white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .annual-payments {
            height: 56px;
            padding-left: .5em;
            overflow-x: auto;

            small {
                font-size: small;
                color: white;
                padding: 2px;
                border-radius: 7px;
            }
        }

        .payment-img {
            height: 57px;
        }
    }

    .mat-mdc-paginator {
        background: #fafafa !important;
    }
}

.m-t-05em {
    margin-top: .5em;
}

// Responsive

@media screen and (max-width: 1055px) {
    .keys-main-container {
        gap: 0em;
    }
}

@media screen and (max-width: 927px) {
    .keys-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 872px) {
}

@media screen and (max-width: 430px) {
    .payment-profile {
        width: 191px !important;
    }

}

@media screen and (max-width: 414px) {
    .payment-profile {
        width: 182px !important;
    }
}

@media screen and (max-width: 390px) {
    .payment-profile {
        width: 171px !important;
    }

}

@media screen and (max-width: 375px) {
    .payment-profile {
        width: 163px !important;
    }
}

@media screen and (max-width: 362px) {

    .payment-profile {
        width: 156px !important;
    }
}