<app-toolbar></app-toolbar>
<div class="flex column  main-container gap-1em">
    <!-- <div class="flex keys-main-container gap-05em center-center column">
        <div [formGroup]="yearFormGroup" class="flex filter-months gap-05em a-center">
            <mat-form-field>
                <mat-label>Year & COLOR KEYS</mat-label>
                <mat-select formControlName="year">
                    <mat-option [value]="nowFullYear">{{nowFullYear}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex gap-05em keys-wrapper">
            <div *ngFor="let keyAndColor of monthsAndKeyColors; let indx = index" [ngClass]="{'bg-jan': indx === 0,'bg-feb': indx === 1, 'bg-mar': indx === 2,
            'bg-apr': indx === 3,'bg-may': indx === 4,'bg-june': indx === 5,'bg-july': indx === 6,
            'bg-aug': indx === 7,'bg-sept': indx === 8,'bg-oct': indx === 9,'bg-nov': indx === 10,
            'bg-dec': indx === 11}" class="flex column center-center key-container">
                <small>{{keyAndColor.month}}</small>
            </div>
        </div>
    </div> -->
    <div class="search-container">
        <input class="search" type="text" (keyup)="applyFilter($event)" #input placeholder="Search ...">
        <mat-icon class="search-icon absolute">search</mat-icon>
    </div>
    <div class="flex payment-profile-container gap-1em">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="member">
                <th mat-header-cell *matHeaderCellDef> Member </th>
                <td mat-cell *matCellDef="let element">
                    <div class="flex a-center gap-05em">
                        <div [ngClass]="{'male-bg-img': element.gender === 'Male','female-bg-img': element.gender === 'Female'}" class="member-img flex center-center">
                        </div>
                        <div class="flex column space-around">
                            <small class="no-margin"><strong>{{element.memberName}} </strong></small>
                            <small class="no-margin light-grey">{{element.joinDate | date}}</small>
                        </div>
                    </div>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="month">
                <th mat-header-cell *matHeaderCellDef> Month </th>
                <td mat-cell *matCellDef="let element"> {{element.monthForPayment}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.dateOfPayment | date}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Total </th>
                <td mat-cell *matCellDef="let element"> R{{element.amout}} </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <!-- Payment Type Column -->
            <ng-container matColumnDef="paymentType">
                <th mat-header-cell *matHeaderCellDef> Payment Type </th>
                <td mat-cell *matCellDef="let element"> {{element.paymentType}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">0 search results matching {{input.value}}</td>
            </tr>
        </table>


        <!-- <mat-card *ngFor="let member of membersToShowOnCurrentPage" class="payment-profile flex column">
            <div class="top flex center-center">
                <div class="flex img-container center-center">
                    <img class="member-img pointer"
                        [src]="member.member.gender === 'Male' ? '../../../assets/images/male-profile.png' : '../../../assets/images/female-profile.png'"
                        alt="">
                </div>
                <p title="Join date" class="no-margin payments-title">{{member.member.joinDate | date}}</p>
            </div>
            <div class="flex column a-center">
                <p class="no-margin member-name"><strong>{{member.member.fullName | titlecase}}</strong></p>
                <div class="flex gap-05em wrap annual-payments">
                    <div *ngFor="let paymentMonth of member.payments" class="flex column month-payment pointer">
                        <small [ngClass]="{'bg-jan': paymentMonth.monthForPayment === 'January','bg-feb': paymentMonth.monthForPayment === 'Febuary', 'bg-mar': paymentMonth.monthForPayment === 'March',
                        'bg-apr': paymentMonth.monthForPayment === 'April','bg-may': paymentMonth.monthForPayment === 'May','bg-june': paymentMonth.monthForPayment === 'June','bg-july': paymentMonth.monthForPayment === 'July',
                        'bg-aug': paymentMonth.monthForPayment === 'August','bg-sept': paymentMonth.monthForPayment === 'September','bg-oct': paymentMonth.monthForPayment === 'October','bg-nov': paymentMonth.monthForPayment === 'November',
                        'bg-dec': paymentMonth.monthForPayment === 'December'}"
                            class="no-margin">{{paymentMonth.monthForPayment}}</small>
                    </div>
                </div>
            </div>
            <div class="flex j-center">
                <img title="Add payment" class="payment-img pointer" (click)="seePayment(member.member)"
                    src="https://img.freepik.com/premium-vector/card-payment-icon-bank-terminal-card-payment_256722-639.jpg"
                    alt="Add payment image">
            </div>
        </mat-card> -->
    </div>
    <div class="flex a-end j-end full-width">
        <mat-paginator (page)="onPageChange($event)" #paginator [length]="totalItems" [pageSizeOptions]="[10, 25, 100]"
            aria-label="Select page">
        </mat-paginator>
    </div>
</div>