$blue: #6672e5;
$light-brown: #dbdbdb;

.main-container {
    height: 100dvh;

    .members-action-container {
        padding: 1em;

        .members-action {
            padding: .2em;
            border: 1px solid $blue;
            border-radius: 5px;
            color: $blue;

            &:hover {
                background-color: $blue;
                color: #ffffff;
            }

            &:nth-child(3) {
                background-color: $blue;
                color: #ffffff;
            }
        }
    }

    .no-members-container {
        height: calc(100dvh - 67px - 48px);

        img {
            height: 230px
        }

        .first-client-btn {
            padding: .5em 2em;
            background-color: $blue;
            color: white;
            border-radius: 5px;
            font-weight: 600;
            box-shadow: 0px 2px 6px rgb(74, 74, 74, 0.6);
        }
    }

    form {
        padding: 1em;
        min-height: calc(100dvh - 48px - 67px - 88px);
        max-height: calc(100dvh - 48px - 67px - 88px);
        overflow-x: auto;
        gap: .7em;

        .form-field {
            height: unset !important;
        }

        .img-container {
            height: 43px;
            width: 45px;
            border-radius: 50%;
            background-color: $light-brown;

            img {
                height: 25px;
            }
        }
    }
    
    .hover-row {
        &:hover {
            background-color: #F8F9FA !important;
        }
    }
}

@media screen and (max-width: 960px) {

    .mat-sort-header-content {
        &:nth-child(1) {
            width: 133px !important;
        }
    }

    table {
        max-width: 500px;
        overflow-x: auto;
    }
}