/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    background-color: ghostwhite;
    font-family: "Poppins", sans-serif !important;
    height: 100dvh;
}

$purple: #e7e1fc;

// Colors
.color-red {
    color: red;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

// flex

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.center-center {
    align-items: center;
    justify-content: center;
}

.a-end {
    align-items: end;
}

.j-end {
    justify-content: end;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.absolute {
    position: absolute;
}


.relative {
    position: relative;
}

// spaces

.no-margin {
    margin: 0;
}

.gap-05em {
    gap: .5em !important;
}

.gap-1em {
    gap: 1em;
}

.gap-2em {
    gap: 2em;
}

.gap-3em {
    gap: 3em;
}

.full-width,
app-toolbar {
    width: 100%;
}

.full-dvh {
    height: 100dvh;
}

.full-height {
    height: 100%;
}

.half-height {
    height: 50%;
}

.half-width {
    width: 50%;
}

.width-80 {
    width: 80%;
}

.border-box {
    box-sizing: border-box;
}

// font

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.z-index {
    z-index: 1;
}

.f-weight-500 {
    font-weight: 500;
}

.f-weight-600 {
    font-weight: 600;
}

.wrap {
    flex-wrap: wrap;
}

.pointer {
    cursor: pointer;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// form

form {
    .form-field {
        height: 55px;

        input {
            font-family: "Poppins", sans-serif;
            padding: 7px;
            border-radius: 7px;
            border: 1px solid lightgrey;
            background-color: #f8f8ff;

            &:focus {
                outline: none;
            }
        }

        .sa-img-icon {
            width: 20px;
            left: 8px;
            top: 8px;
        }

        .padding-l-205em {
            padding-left: 2.5em;
        }

        mat-icon {
            right: 6px;
            top: 6px;
            color: brown;
        }
    }
}

// ul overwrite

ul {
    margin: 0 !important;
    font-size: 14px !important;
}

// material

.mat-mdc-menu-panel.mat-mdc-menu-panel {
    padding: .5em !important;
}

.mat-mdc-text-field-wrapper {
    height: unset !important;
    flex: unset !important;
}


.mat-button-toggle-button {
    display: flex !important;
    justify-content: center !important;
}


.mat-button-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-mdc-menu-panel {
    overflow: hidden !important;
}

.mat-mdc-menu-content {
    padding: 0px !important;
}

.mat-mdc-form-field-focus-overlay {
    background-color: white !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
}

.mat-drawer-container,
.mat-drawer-inner-container,
.mat-drawer {
    overflow: visible !important;
}

.mat-drawer-container {
    background-color: white !important;
}

.mat-mdc-paginator-container {
    background-color: white !important;
}

// Table

th:first-child {
    border-radius: 10px 0 0 10px !important;
    background-color: $purple !important;
}

// Set border-radius on the top-right and bottom-right of the last table data on the table row
// th {
//     color: white !important;
// }

th:last-child {
    border-radius: 0 10px 10px 0 !important;
    background-color: $purple !important;
}

.mat-mdc-table .mdc-data-table__header-row {
    background-color: $purple;
}

// Material responsive

@media screen and (max-width: 960px) {
    .mat-mdc-table .mdc-data-table__header-row {
        .mat-sort-header-content {
            &:nth-child(1) {
                width: 133px;
            }
        }
    }
}