$app-secondary: #3f51b5;
$white: white;
$light-white: #f9f9fe;
$dark-light-white: #f3f3f3;
$grey-line: #e5e5e5;
$blue: #6672e5;

.color-blue {
    color: $blue;
}

.main-container {

    .title-container {
        background-color: $light-white;
        padding: 30px 15px;
        border-bottom: 1px solid $grey-line;
    }

    form {
        padding: 1em 1.5em;

        .form-field {
            min-height: 55px !important;
        }

        .btn {
            width: 179px;
            height: 35px;
            border-radius: 5px;
            background-color: $blue;
            color: white;
        }

        mat-icon {
            right: 6px;
            top: 6px;
            color: brown;
        }
    }

    .submit-container {
        padding: 15px;
        border-top: 1px solid $grey-line;

        .btn {
            width: 88px;
            height: 35px;
            background-color: $dark-light-white;
            border-radius: 5px;
            font-weight: 400;
            border: 1px solid #ddd;

            &:nth-child(2) {
                background-color: $blue;
                color: white;
            }
        }

        mat-icon {
            font-size: 20px;
            height: unset !important;
            width: unset !important;
        }
    }
}

.m-t-1em {
    margin-top: 1em;
}

.on-edit-form {
    height: 381px;
    max-height: 381px;
    overflow-x: auto
}

.on-edit-btn {
    width: 141px !important;
    font-size: 14px !important;
}

// material

th:last-child {
    background-color: #ffffff !important;
}