// colors
$app-blue: #3E5EF5;
$white: #ffffff;

.bg-white {
    background-color: $white;
}

.main-container {
    .img-logo {
        width: 283px;
    }

    .logo-icon-img {
        height: 66%;
    }

    .form-field {
        height: 81px;
    }

    .btn {
        height: 36px;
        border: none;
        border-radius: 7px;
        background-color: $app-blue;
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 500;

        &:focus {
            outline: none;
        }
    }
}