$grey-line: #e5e5e5;
$light-red: #ed5565;
$blue: #6672e5;
$light-white: #f5f5f5;

.color-blue {
    color: $blue;
}

.color-payment-made {
    background-color: #e0e0e0;
}

.main-container {
    .inner-container {
        gap: .2em;

        .action-container {
            height: 29px;
            padding: .5em 2em .5em 2em;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            color: #A7B1C2;

            &:hover {
                background-color: #E6E6E6;
                color: #000000;
            }
        }
    }

    .custom-hr {
        border-bottom: 1px solid $grey-line;
    }

    .selected-action {
        border: 1px solid $grey-line;
        color: #000000 !important;
        background-color: #ffffff !important;
    }

    .title-value-container {
        .title {
            width: 52%;
            padding-left: 1em;
            box-sizing: border-box;
        }

        .value {
            width: 48%;
            font-size: 15px;
        }
    }

    .additionalInfoData-hr {
        border-bottom: 1px solid $grey-line;
        margin-bottom: .5em;
    }

    .btn {
        height: 35px;
        border: 1px solid $light-red;
        border-radius: 5px;
        background-color: $light-red;
        color: #ffffff;
        width: 139px;
    }

    .notes {
        .timeline-area {
            width: 80%;
            padding: 0px 20px 0px 38px;
            border-left: 5px solid $light-white;

            .timeline {
                background-color: $light-white;
                padding: 12px 16px;
                font-size: 16px;
                line-height: 1.7;
                position: relative;
                border-radius: 7px;
                cursor: pointer;

                .btn {
                    border: 1px solid #00000040;
                    background-color: $light-white;
                    border-radius: 5px;
                    color: $blue;
                    width: 98px;

                    &:hover {
                        background-color: $blue;
                        color: #ffffff;
                        border: 1px solid #ffffff;
                    }
                }
            }

            .timeline::before {
                content: '';
                display: block;
                width: 37px;
                height: 37px;
                border-radius: 50%;
                background-color: $blue;
                border: 3px solid #ddd;
                position: absolute;
                top: 0;
                left: -63px;
            }

            .timeline::after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-color: transparent $light-white transparent transparent;
                border-width: 8px;
                position: absolute;
                left: -17px;
                top: 10px;
            }

            mat-icon {
                left: -53px;
                top: 8.5px;
                color: #ffffff;
            }
        }
    }

    .family-members {
        .count-txt {
            padding: 4px 12px;
            background-color: #eee;
            border-radius: 22px;
            font-size: 14px;
        }

        mat-icon {
            font-size: 15px !important;
            height: unset !important;
            width: unset !important;
        }

        .btn {
            width: 172px !important;
            background-color: $blue !important;
            border: 1px solid $blue !important;
        }
    }

    .payments-information {
        .payment-month {
            width: 143px;
            height: 52px;

            small {
                right: 3px;
                bottom: 0
            }
        }
    }
}